* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.grid {
  width: 720px;
  height: 720px;
  display: flex;
  flex-wrap: wrap;
}

div.grid-item {
  width: 40px;
  height: 40px;
  border: 1px dashed black;
  background-color: yellow;
}

div.grid-item.player {
  background-image: url('../assets/pacman2.png');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.wall {
  background-color: grey;
  color: white;
}

div.grid-item.wall.rightEdge {
  border-right: 1px solid black;
}

div.grid-item.gate {
  background-color: orange;
  color: white;
}

div.grid-item.prison {
  background-color: aqua;
  color: black;
}

div.grid-item.bigCoin {
  background-image: url('../assets/coin.png');
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
}

div.grid-item.smallCoin {
  background-image: url('../assets/coin.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

div.startScrn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.game {
  display: none;
  justify-content: space-between;
}

div.gameOverScrn {
  display: none;
  flex-direction: column;
}

div.scoreboard {
  display: flex;
  flex-direction: column;
}

div.scores1, div.scores2, div.scores3, div.scores4, div.scores5 {
  display: flex;
  justify-content: space-between;
}

div.grid-item.ghost1 {
  background-image: url('../assets/ghost1.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

div.grid-item.ghost2 {
  background-image: url('../assets/ghost2.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

div.grid-item.ghost3 {
  background-image: url('../assets/ghost3.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

div.grid-item.ghost4 {
  background-image: url('../assets/ghost4.ico');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
div.grid-item.ghost1.statusGiven {
  background-image: url('../assets/pacman.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

div.grid-item.ghost2.statusGiven {
  background-image: url('../assets/pacman.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

div.grid-item.ghost4.statusGiven {
  background-image: url('../assets/pacman.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

div.grid-item.scaredghost.ghostAny {
  background-image: url('../assets/scaredghost.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

div.grid-item.scaredghost.ghostAny.ghostWhite {
  background-image: url('../assets/ghostwhite.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

div.hobbled, div.confused, div.tracked {
  display: none;
}