* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: 600;
  /* text-decoration: underline; */
}

/* button {
  border-radius: 5px;
} */

aside {
  background-color: yellow;
  margin: 0 0 0 10px;
  padding: 15px;
  height: 720px;
  border-radius: 25px;
  /* background-image: url('../assets/stonetexture.jpg'); */
  background-image: radial-gradient(yellow, orange);
}

div.grid {
  width: 720px;
  height: 720px;
  display: flex;
  flex-wrap: wrap;
  background-image: url('../assets/grass2.jpg');
  border-radius: 25px;
}

div.grid-item {
  width: 40px;
  height: 40px;
  /* border: 1px dashed black; */
}

div.grid-item.player {
  background-image: url('../assets/elf.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

div.grid-item.player.sword {
  background-image: url('../assets/elfwithsword.png');
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
}

div.grid-item.wall {
  background-image: url('../assets/tree.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: white;
}

/* div.grid-item.wall.rightEdge {
  border-right: 1px solid black;
} */

div.grid-item.gate {
  /* background-color: rgb(71, 52, 17); */
  background-color: black;
  color: white;
}

div.plank {
  background-color: red;
  width: 40px;
  height: 5px;
  background-image: url('../assets/stonewall2.jpg');
  background-size: 100%;
  background-position: center;
}

div.grid-item.prison {
  /* background-image: url('../assets/stonefloor.jpg'); */
  background-color: black;
  color: black;
}

div.grid-item.wall.keep {
  background-color: grey;
  background-image: url('../assets/stonewall2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: black;
}

div.grid-item.wall.keep.topleft {
  border-radius: 15px 0 0 0; 
}
div.grid-item.wall.keep.topright {
  border-radius: 0 15px 0 0; 
}
div.grid-item.wall.keep.bottomright {
  border-radius: 0 0 15px 0; 
}
div.grid-item.wall.keep.bottomleft {
  border-radius: 0 0 0 15px; 
}

div.grid-item.bigCoin {
  background-image: url('../assets/sword3.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

div.grid-item.smallCoin {
  background-image: url('../assets/coin4.png');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
}

div.grid-item.treasure {
  background-image: url('../assets/treasure5.png');
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: center;
}

div.grid-item.potion {
  background-image: url('../assets/potionpurple.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

div.startScrn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: yellow;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(yellow, orange);
}

div.game {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  height: 100%;
  width: 100%;
  /* background-image: radial-gradient(aqua 85%, rgb(0, 174, 255)); */
}

.statusbox {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.healthy, div.confused, div.tracked, div.hobbled {
  width: 200px;
  height: 30px;
  /* line-height: 30px; */
  text-align: center;
  /* vertical-align: middle; */
  border: black 1px solid;
  border-radius: 15px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

div.confused {
  background-color: blue;
  color: white;
}

div.hobbled {
  background-color: red;
  color: white;
}

div.tracked {
  background-color: green;
  color: white;
}

/* div.gameOverScrn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: purple;
  width: 400px;
}

div.gameOverWrapper {
  height: 100px;
  width: 100px;
  background-color: peru;
} */

div.gameOverScrn {
  display: none;
  width: 100%;
  height: 100%;
  background-color: aqua;
  justify-content: center;
  align-items: center;
  /* background-image: radial-gradient(aqua 70%, rgb(0, 174, 255)); */
}

div.gameOverWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: yellow;
  width: 350px;
  padding: 15px;
  border-radius: 25px;
  background-image: radial-gradient(yellow, orange);
}

div.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.scores1, div.scores2, div.scores3, div.scores4, div.scores5 {
  display: flex;
  justify-content: space-between;
  /* margin: 0 15px; */
}

div.grid-item.ghost1 {
  background-image: url('../assets/goblingreen.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

div.grid-item.ghost2 {
  background-image: url('../assets/goblinblue.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

div.grid-item.ghost3 {
  background-image: url('../assets/ogrepurple.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

div.grid-item.ghost4 {
  background-image: url('../assets/goblinred.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
div.grid-item.ghost1.statusGiven {
  background-image: url('../assets/goblinyellow.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

div.grid-item.ghost2.statusGiven {
  background-image: url('../assets/goblinyellow.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

div.grid-item.ghost4.statusGiven {
  background-image: url('../assets/goblinyellow.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

div.grid-item.ghost3.hunting {
  background-image: url('../assets/ogrepink.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

div.grid-item.scaredghost.ghostAny {
  background-image: url('../assets/goblinwhite.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

div.grid-item.scaredghost.ghostAny.ghostWhite {
  background-image: url('../assets/goblingrey.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

div.grid-item.scaredghost.ghostAny.ghost3 {
  background-image: url('../assets/ogrewhite.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

div.grid-item.scaredghost.ghostAny.ghostWhite.ghost3 {
  background-image: url('../assets/ogregrey.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}


div.hobbled, div.confused, div.tracked {
  display: none;
}

.playAgain {
  margin: 15px 0 0 0;
}

.reset {
  margin: 15px 0 0 0;
}

.endGame {
  margin: 15px 0 0 0;
}

.enemies {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 720px;
  width: 250px;
  background-color: yellow;
  margin: 0 10px 0 0;
  border-radius: 25px;
  background-image: url('../assets/stonetexture.jpg');
}

.profile {
  height: 130px;
  width: 240px;
  background-color: white;
  display: flex;
  border-radius: 25px;
}

.portrait {
  height: 130px;
  width: 130px;
  background-color: white;
  border-radius: 25px;
}

.portrait > img {
  max-height: 130px;
}

.charName {
  height: 130px;
  width: 110px;
  font-size: 12.5px;
  background-color: white;
  padding: 5px;
  border-radius: 25px;
}

div.charName > h3 {
  margin: 0;
  font-weight: 900;
}